*{
	margin: 0;
	padding: 0;
}
#contenedor{
	margin: 1% auto;
	width: 75%;
	height: 60%;
	border: 1px solid black;
	border-radius: 10px;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: white;
	text-shadow: 10px 10px black;
}
.botones .boton{
	border-radius: 20px;
	box-shadow: 3px 3px 3px black;
	background-color: #5aae32;
	border: 0px;
	outline: none;
	width: 15%;
	height: 7%;
	margin: 1%;
	margin-left: 6%;
	font-size: 20px;
	font-family: Helvetica;
	cursor: pointer;

	
}
.botones .boton:hover{
	box-shadow: 0px 0px 14px #2c6f05;
	background-color: #5aae32; 
	color: black;
	border: 2px solid #10702C;
}
.form2 {
    background-color: #0b5c22;
    padding: 20px;
    color: white;
    border-radius: 10px; 
    margin-top: 5%;
	margin-left: 20%;
	box-shadow: 10px 20px 5px 10px #5aae32;
}