
.form2 {
    width: 40%;
    margin: auto;
    margin-top: 5%;
}
.de{
    width: 100%;
    background-color: white;
    margin: auto;
    margin-top: 5%;
}
.botones .btn{
	border-radius: 20px;
	box-shadow: 3px 3px 3px black;
	background-color: #5aae32;
	border: 0px;
	outline: none;
	width: 20%;
	height: 7%;
	margin: 1%;
    font-size: 200%;
	font-family: Helvetica;
	cursor: pointer;
}
table{
	margin: auto;
}
.h{
	margin: auto; 
}